body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact-component {
    display: flex;
    width: 55vw;
    border: 1px solid black;
    padding: 5vmin;
    height: fit-content;
  }
  
  .contact-component > * {
    width: 50%;
    height: fit-content;
  }
  
  .contact-component-description > h1 {
    margin: 0;
  }
  
  .contact-component-description > p {
    padding-right: 5vmin;
  }
  
  
  #first-name-input,
  #last-name-input {
    width: 45%;
    flex: 1;
  }
  
  #user-name-inputs {
    gap: 3px;
    width: 25rem;
    display: flex;
    justify-content: space-between;
  }
  
  #email-address-input {
    width: 25rem;
  }
  
  .contact-form-textarea {
    width: 25rem ;
    height: 15vh ;
    resize: none;
  }
  
  .contact-form-input {
    font-size: 2.3vmin;
    padding: 0.5vmin;
    border: 1px solid #bcbec0;
  }
  