:root {
  --gl-light-orange: #ee9f41;
  --gl-orange: #f37037;
  --gl-dark-orange: #d45e2b;
  --gl-light-gray: #e6e7e8;
  --gl-gray: #bcbec0;
  --gl-medium-gray: #6d6e71;
  --gl-dark-gray: #414042;
  --gl-error: #ac2c2c;
  --gl-dark-error: #8f2424;
  --gl-lime: #8ec549;
  --gl-dark-lime: #77a63d;
  --gl-canary: #f4d034;
  --gl-teal: #53bdbe;
}

@import 'Loader.css';

* {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

.contact-component-container {
  /* width: 98vw; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gl-gray);
  padding: 10vh 0 10vh 0;
}

.contact-component {
  /* width: fit-content; */
  padding: 1rem;
  /* width: 75vw; */
  width: 1100px;
  display: flex;
  justify-content: space-between;
  background-color: var(--gl-light-gray);
  border-radius: 17.5px;
}

.contact-component > * {
  background-color: white;
  border-radius: 10px;
}

.description-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  aspect-ratio: 8/7;
  padding: 1rem;
  margin-right: 0.5rem;
}

.description-container > h1 {
  text-align: center;
  margin: 0;
  font-size: 40px;
  font-weight: 400;
}

.description-container > p {
  text-align: center;
  font-size: 20px;
  margin-top: 0;
}

.contact-form-container {
  width: 50%;
  aspect-ratio: 8/7;
  padding: 1rem;
  margin-left: 0.5rem;
}

.contact-form {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-template-areas:
    'first-name  last-name'
    'email       email'
    'body        body'
    'body        body'
    'attachment  submit';
  height: 100%;
  padding: 0;
}

.first-name-input {
  grid-area: first-name;
  align-self: center;
  justify-self: start;
  width: 90%;
}

.last-name-input {
  grid-area: last-name;
  align-self: center;
  justify-self: end;
  width: 90%;
}

.email-input {
  grid-area: email;
  align-self: center;
}

.body-input {
  grid-area: body;
  resize: none;
  overflow-y: scroll;
  align-self: center;
  height: 75%;
  margin: 0;
  padding: 2vmin 0 0.5vmin 2vmin;
}

.book-name-input {
  grid-area: 3/1/4/3;
  align-self: center;
}

.book-link-input {
  grid-area: 4/1/5/3;
  align-self: center;
}

.attachment-input {
  grid-area: attachment;
  align-self: center;
}

.submit-button-container {
  grid-area: submit;
  justify-self: end;
  align-self: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.submit-button {
  text-align: center;
  padding: 0.25vmin 0.5vmin 0.25vmin 0.5vmin !important;
  width: 50%;
  color: var(--gl-light-gray);
}

.submit-button.idle {
  background-color: var(--gl-orange);
  border-color: var(--gl-dark-orange);
}

.submit-button.success {
  background-color: var(--gl-lime);
  border-color: var(--gl-dark-lime);
}

.submit-button.error {
  background-color: var(--gl-error);
  border-color: var(--gl-dark-error);
}

.submit-button.idle:hover {
  background-color: var(--gl-dark-orange);
}

.submit-button.success:hover {
  background-color: var(--gl-dark-lime);
}

.submit-button.error:hover {
  background-color: var(--gl-dark-error);
}

.first-name-input,
.last-name-input,
.email-input,
.book-name-input,
.book-link-input,
.attachment-input-label,
.submit-button {
  padding: 0.5vmin 0 0.5vmin 2vmin;
  margin: 0;
  height: 50%;
}

.first-name-input,
.last-name-input,
.email-input,
.body-input,
.book-name-input,
.book-link-input,
.attachment-input-label,
.submit-button {
  border-radius: 5px;
  border: 1px solid var(--gl-gray);
  box-shadow: 2px 2px 4px rgba(170, 170, 170, 0.497569);
}

.contact-form-input {
  font-size: 1rem;
}

#file-icon {
  width: 20px;
  margin-left: 5px;
}

.attachment-input-label {
  grid-area: attachment;
  background-color: var(--gl-light-gray);
  align-self: center;
  justify-self: start;
  width: 60%;
  height: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.5rem 0 0.5rem;
  white-space: nowrap;
}

.chosen-file {
  text-align: center;
  overflow: scroll;
  width: 7rem;
  white-space: nowrap;
  border-right: 1px round black;
}

.attachment-input-label:hover {
  background-color: var(--gl-gray);
}

hr.vertical {
  transform: rotate(90);
  height: 10px;
}

.chosen-file::-webkit-scrollbar,
textarea::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1100px) {
  .contact-component {
    flex-direction: column;
    padding: 1 0.75rem 1 0.75rem !important;
    align-items: center;
    width: 80% !important;
    margin-top: 3rem !important;
  }

  .description-container {
    margin-bottom: 0.5rem !important;
  }

  .description-container,
  .contact-form-container {
    width: 100% !important ;
    aspect-ratio: 8/7 !important;
  }

  .description-container {
    margin: 0 0 0.5rem 0 !important;
  }

  .contact-form-container {
    margin: 0.5rem 0 0 0 !important;
  }
}

@media (max-width: 550px) {
  .contact-form-input {
    padding-top: 0;
    padding-left: 3px;
  }

  .contact-form-input::placeholder {
    font-size: 0.82rem;
  }

  .submit-button {
    font-size: 0.82rem;
    padding-top: 0px !important;
    padding-left: 3px;
  }
}
