* {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

.body-carousel-wrapper {
  width: 1000px;
  margin: auto;
  margin-top: 20vh;
}

.body-carousel-page-title {
  color: var(--gl-orange);
  font-weight: 500;
  margin-bottom: 15px;
  margin-left: 5px;
}

.body-carousel-case-study-container {
  display: flex;
  justify-content: space-between;
}

.case-study-image-slide,
.case-study-title-slide,
.case-study-description-slide,
.case-study-button-slide {
  opacity: 0;
  transition-duration: 1s ease;
  transform: scale(0.95);
}

.case-study-image-slide.case-study-image-active,
.case-study-title-slide.case-study-title-active,
.case-study-description-slide.case-study-description-active,
.case-study-button-slide.case-study-button-active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1);
}

.case-study-image {
  object-fit: cover;
  width: 450px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px rgba(212, 94, 43, 0.35);
  transition: 0.5s;
}

.case-study-image:hover {
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(212, 94, 43, 0.85);
  transition: 0.5s;
}

.body-carousel-case-study-content {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.case-study-title {
  color: var(--gl-dark-orange);
  width: 350px;
  height: 38px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 0 5px 0 5px;
  border-radius: 5%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.case-study-title::-webkit-scrollbar {
  display: none;
}

.case-study-scrollable-description {
  display: flex;
  align-items: center;
}

.case-study-scrollable-description:hover > .body-carousel-case-study-scroll-arrows {
  visibility: visible;
  transition: 1s;
}

.case-study-description {
  width: 388px;
  height: 240px;
  padding: 0 5px 0 5px;
  border-radius: 5%;
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background: rgb(188, 190, 192);
  /* -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0))); */
}

.case-study-description::-webkit-scrollbar {
  display: none;
}

.body-carousel-case-study-scroll-arrows {
  display: flex;
  flex-direction: column;
  visibility: hidden;
}

.body-carousel-case-study-scroll-up,
.body-carousel-case-study-scroll-down {
  height: 12px;
  width: 12px;
  border: 2px solid var(--gl-light-gray);
  transform: rotate(45deg);
  margin: 5px 0 5px 0;
}

.body-carousel-case-study-scroll-up {
  border-bottom: none;
  border-right: none;
}

.body-carousel-case-study-scroll-down {
  border-top: none;
  border-left: none;
}

.case-study-button-anchor {
  margin: auto;
  width: 40%;
  text-decoration: none;
}

.case-study-button {
  background-color: var(--gl-orange);
  border: 1px solid var(--gl-dark-orange);
  color: var(--gl-light-gray);
  display: flex;
  justify-self: center;
  box-shadow: 2px 2px 4px rgb(170 170 170 / 50%);
  border-radius: 5px;
  margin-left: 125px;
  margin-top: 10px;
  padding: 7px;
  cursor: pointer;
  transition: 0.5s;
}

.case-study-button:hover {
  background-color: var(--gl-dark-orange);
  box-shadow: 2px 2px 4px rgb(170 170 170 / 50%);
  transition: 0.5s;
}

.body-carousel-arrows {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.body-carousel-case-study-page {
  font-size: 15px;
}

.body-carousel-arrow-left,
.body-carousel-arrow-right {
  border: 8px solid var(--gl-dark-orange);
  height: 30px;
  width: 30px;
  transform: rotate(45deg);
  border-radius: 15%;
  margin: 0 20px 0 20px;
}

.body-carousel-arrow-left {
  border-right: 0;
  border-top: 0;
  transition: 0.1s;
}

.body-carousel-arrow-left:hover {
  border: 6px solid var(--gl-orange);
  cursor: pointer;
  border-right: 0;
  border-top: 0;
  transition: 0.4s;
}

.body-carousel-arrow-right {
  border-left: 0;
  border-bottom: 0;
  transition: 0.1s;
}

.body-carousel-arrow-right:hover {
  border: 6px solid var(--gl-orange);
  cursor: pointer;
  border-left: 0;
  border-bottom: 0;
  transition: 0.4s;
}

@media (max-width: 1100px) {
  .body-carousel-page-title {
    font-size: 45px;
    margin-left: 0px;
  }

  .body-carousel-wrapper {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .body-carousel-case-study-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    margin-top: 15px;
  }

  .case-study-image-anchor {
    width: 70%;
    display: flex;
    justify-content: center;
  }

  .case-study-image {
    width: 100%;
    height: 300px;
    min-width: 300px;
    max-width: 600px;
  }

  .case-study-image:hover {
    cursor: default;
    box-shadow: 2px 2px 4px rgba(212, 94, 43, 0.35);
  }

  .case-study-image-slide,
  .case-study-image-active {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }

  .body-carousel-case-study-content {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .body-carousel-arrows {
    width: 100%;
    position: absolute;
    transform: translate(0, 205px);
    display: flex;
    justify-content: space-between;
  }

  .body-carousel-arrow-left,
  .body-carousel-arrow-right {
    height: 60px;
    width: 60px;
    border-radius: 5px;
    border: 10px solid var(--gl-dark-orange);
  }

  .body-carousel-arrow-left {
    border-top: 0;
    border-right: 0;
  }

  .body-carousel-arrow-right {
    border-bottom: 0;
    border-left: 0;
  }

  .body-carousel-case-study-page {
    display: none;
  }

  .case-study-title-slide,
  .case-study-title-active {
    width: 100%;
    min-width: 300px;
    display: flex;
    justify-content: center;
  }

  .case-study-title {
    text-align: center;
    border-radius: 5px;
  }

  .case-study-scrollable-description {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .case-study-description {
    width: 100%;
    min-width: 300px;
    max-width: 550px;
  }

  .case-study-button-slide,
  .case-study-button-active {
    width: 50%;
    min-width: 145px;
  }

  .case-study-button {
    margin-left: 0%;
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  @media (max-width: 425px) {
    .body-carousel-arrows {
      width: 100%;
      position: absolute;
      transform: translate(0, 220px);
      display: flex;
    }
  
    .body-carousel-arrow-left,
    .body-carousel-arrow-right {
      height: 35px;
      width: 35px;
      border-radius: 5px;
      border: 10px solid var(--gl-dark-orange);
    }
  
    .body-carousel-arrow-left {
      border-top: 0;
      border-right: 0;
      margin-left: 2%;
    }
  
    .body-carousel-arrow-right {
      border-bottom: 0;
      border-left: 0;
      margin-right: 2%;
    }
  }
}
