.markdown--container {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}

.markdown--textbox {
    width: 70%;
    height: 30vh;
    font-size: 2rem;
    margin: auto;
    border-radius: 5px;
}

.markdown--preview--title {
    margin: auto;
    font-size: 40px;
    margin-top: 5vh;
}

.markdown--preview {
    margin: auto;
    margin-top: 2vh;
    width: 80%;
    border-radius: 5px;
}

.react--markdown {
    font-size: 1.5rem;
}