* {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

.case-study-carousel-wrapper {
  width: 1100px;
  margin: auto;
  margin-top: 100px;
  padding: 1rem;
  background-color: var(--gl-light-gray);
  border-radius: 17.5px;
}

.case-study-carousel-inner-wrapper {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
}

.case-study-title {
  color: black;
  width: 100%;
  margin: 0 !important;
  border-radius: 5%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  text-align: center;
}

.case-study-carousel-container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.case-study-carousel-image-slider-container {
  width: 50%;
  margin-right: 0.5rem;
}

.case-study-description-slide {
  width: 100%;
  height: 256px;
  display: flex;
  justify-content: center;
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.case-study-description-slide::-webkit-scrollbar {
  display: none;
}

.case-study-description {
  padding: 0 5px 0 5px;
  border-radius: 5%;
}

.case-study-image-slide,
.case-study-title-slide,
.case-study-description-slide,
.case-study-button-slide {
  opacity: 0;
  transition-duration: 1s ease;
  transform: scale(0.95);
}

.case-study-image-slide.case-study-image-active,
.case-study-title-slide.case-study-title-active,
.case-study-description-slide.case-study-description-active,
.case-study-button-slide.case-study-button-active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1);
}

.case-study-image {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 5/3;
  border-radius: 5px;
  box-shadow: 2px 2px 4px var(--gl-gray);
  transition: 0.5s;
}

.case-study-image:hover {
  cursor: pointer;
  box-shadow: 2px 2px 4px var(--gl-medium-gray);
  transition: 0.5s;
}

.case-study-carousel-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 0.5rem;
}

.case-study-title::-webkit-scrollbar {
  display: none;
}

.case-study-carousel-scrollable-description {
  display: flex;
  align-items: center;
}

.case-study-carousel-scrollable-description:hover > .case-study-carousel-scroll-arrows {
  visibility: visible;
  transition: 1s;
}

.case-study-carousel-scroll-arrows {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  color: var(--gl-orange);
  margin-left: 2px;
}

.case-study-carousel-scroll-up,
.case-study-carousel-scroll-down {
  height: 12px;
  width: 12px;
  border: 2px solid var(--gl-orange);
  transform: rotate(45deg);
  margin: 5px 0 5px 0;
}

.case-study-carousel-scroll-up {
  border-bottom: none;
  border-right: none;
}

.case-study-carousel-scroll-down {
  border-top: none;
  border-left: none;
}

.case-study-button-anchor {
  margin: auto;
  width: 40%;
  text-decoration: none;
}

.case-study-button {
  background-color: var(--gl-orange);
  border: 1px solid var(--gl-dark-orange);
  color: var(--gl-light-gray);
  display: flex;
  justify-self: center;
  box-shadow: 2px 2px 4px rgb(170 170 170 / 50%);
  border-radius: 5px;
  margin: auto;
  margin-top: 10px;
  padding: 7px;
  cursor: pointer;
  transition: 0.5s;
}

.case-study-button:hover {
  background-color: var(--gl-dark-orange);
  box-shadow: 2px 2px 4px rgb(170 170 170 / 50%);
  transition: 0.5s;
}

.case-study-carousel-arrows {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
}

.case-study-carousel-study-page {
  font-size: 15px;
}

.case-study-carousel-arrow-left,
.case-study-carousel-arrow-right {
  border: 8px solid var(--gl-orange);
  height: 30px;
  width: 30px;
  transform: rotate(45deg);
  border-radius: 15%;
  margin: 0 20px 0 20px;
}

.case-study-carousel-arrow-left {
  border-right: 0;
  border-top: 0;
  transition: 0.1s;
}

.case-study-carousel-arrow-left:hover {
  border: 6px solid var(--gl-dark-orange);
  cursor: pointer;
  border-right: 0;
  border-top: 0;
  transition: 0.4s;
}

.case-study-carousel-arrow-right {
  border-left: 0;
  border-bottom: 0;
  transition: 0.1s;
}

.case-study-carousel-arrow-right:hover {
  border: 6px solid var(--gl-dark-orange);
  cursor: pointer;
  border-left: 0;
  border-bottom: 0;
  transition: 0.4s;
}

@media (max-width: 1100px) {
  .case-study-carousel-wrapper {
    width: 95%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .case-study-carousel-container {
    display: flex;
    flex-direction: column;
  }
  .case-study-carousel-image-slider-container {
    width: 95%;
    display: flex;
    justify-content: center;
  }
  .case-study-image {
    width: 100%;
    aspect-ratio: 1;
    min-width: 200px;
    max-width: 600px;
    margin-bottom: 10px;
  }
  .case-study-image:hover {
    cursor: default;
  }
  .case-study-carousel-content {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .case-study-carousel-scrollable-description {
    width: 800px;
  }
  .case-study-description {
    padding: 0;
  }
  .case-study-carousel-scroll-arrows {
    display: none;
  }
  .case-study-carousel-arrows {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
  }
  .case-study-carousel-arrow-left,
  .case-study-carousel-arrow-right {
    height: 60px;
    width: 60px;
    border-radius: 5px;
    border: 15px solid var(--gl-orange);
  }
  .case-study-carousel-arrow-left {
    border-top: 0;
    border-right: 0;
  }
  .case-study-carousel-arrow-right {
    border-bottom: 0;
    border-left: 0;
  }
  .case-study-carousel-page {
    font-size: 20px;
  }
  .case-study-button-slide.case-study-button-active {
    width: 100%;
  }
  .case-study-button {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 25px;
  }
}
