/* Diagram.jsx component */
.diagram-dropdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.diagram-dropdown-container > div {
  display: flex;
  align-items: stretch;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
}

.diagram-dropdown-label {
  font-size: 1.5rem;
  margin-right: 1vw;
}

.diagram-dropdown-select {
  background-color: var(--gl-orange);
  border: 1px solid var(--gl-gray);
  color: var(--gl-light-gray);
  border-radius: 5px;
  min-width: 50px;
  max-width: 100px;
  text-align: center;
  padding-left: 5px;
  z-index: 9;
}

.diagram-popup-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.diagram-title-input,
.diagram-body-input {
  display: flex;
  flex-direction: column;
}

.diagram-title-input {
  align-items: flex-start;
}

.diagram-body-input {
  align-items: flex-start;
}

.diagram-builder-textarea-title,
.diagram-builder-textarea-body {
  margin-top: 10px;
  font-size: 20px;
  text-align: center;
  border-radius: 5px;
}

.diagram-builder-textarea-title {
  height: 40px;
  width: 50vw;
  min-width: 250px;
  max-width: 500px;
}

.diagram-builder-textarea-body {
  height: 200px;
  width: 80vw;
  min-width: 500px;
  max-width: 1000px;
}

.diagram-submit-button-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.diagram-submit-button {
  width: 25vw;
  min-width: 200px;
  font-size: 1.2rem;
  height: 7vh;
  border-radius: 5px;
  margin-bottom: 100px;
  border: 1px solid var(--gl-gray);
  text-align: center;
  background-color: var(--gl-orange);
  color: var(--gl-light-gray);
  box-shadow: 2px 2px 4px rgba(170, 170, 170, 0.497569);
  transition: 0.3s;
}

.diagram-submit-button:hover {
  background-color: var(--gl-dark-orange);
  transition: 0.3s;
}

/* Grid.jsx, TitleGrid.jsx components */
.diagram-grid-component {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.diagram-grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: 200px 400px 200px;
  grid-template-rows: 200px 200px 200px;
}

.diagram-grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.diagram-grid-lr-arrow-top,
.diagram-grid-lr-arrow-bottom,
.diagram-grid-rl-arrow-top,
.diagram-grid-rl-arrow-bottom {
  height: 100px;
  width: 100px;
  border: 3px solid black;
}

.diagram-grid-lr-arrow-top {
  border-left: 0px;
  border-bottom: 0px;
  border-radius: 0px 90px 0px 0px;
  align-self: end;
  justify-self: start;
}

.diagram-grid-lr-arrow-bottom {
  border-left: 0px;
  border-top: 0px;
  border-radius: 0px 0px 90px 0px;
}

.diagram-grid-rl-arrow-top {
  border-right: 0px;
  border-bottom: 0px;
  border-radius: 90px 0px 0px 0px;
  justify-self: end;
  align-self: end;
}

.diagram-grid-rl-arrow-bottom {
  border-right: 0px;
  border-top: 0px;
  border-radius: 0px 0px 0px 90px;
  justify-self: end;
}

.diagram-title-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 495px;
  grid-template-rows: 200px 200px 200px;
  margin-top: -230px;
}

/* RowOne.jsx, RowTwo.jsx, RowThree.jsx components */
.diagram-grid-row {
  justify-self: start;
}

.diagram-grid-row-reverse {
  justify-self: end;
}

.diagram-row-component {
  display: flex;
  margin: 0px;
  padding-top: 10px;
  padding: 20px 0 20px 0;
}

.diagram-reverse-row-component {
  display: flex;
  flex-direction: row-reverse;
}

.diagram-arrow-line {
  height: 3px;
  width: 110px;
  background-color: black;
  align-self: center;
}

.diagram-arrow-rl-triangle {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 30px solid black;
  border-bottom: 10px solid transparent;
  align-self: center;
}

.diagram-arrow-lr-triangle {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 30px solid black;
  border-bottom: 10px solid transparent;
  align-self: center;
}
/* Popover.jsx component */
.diagram-popup-button {
  height: 40px;
  width: 40px;
  background-color: var(--gl-orange);
  border-radius: 50%;
  border: 1px solid var(--gl-dark-orange);
  z-index: 9;
}

.diagram-popup-title {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  border-radius: 5px 5px 0 0;
  width: 90%;
  margin: auto;
  padding: 0px 5px 0px 5px;
  text-align: center;
}

.diagram-popup-body {
  font-size: 15px;
  padding: 5px;
}
/* TitleRowOne.jsx, TitleRowTwo.jsx, TitleRowThree.jsx components */
.diagram-title-row,
.diagram-title-row-reverse {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.diagram-title-row-reverse {
  flex-direction: row-reverse;
}
/* Titles.jsx component */
.diagram-title-individual-title {
  display: flex;
  justify-content: center;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 135px;
  font-size: 17.5px;
  padding: 0 0px 0 0px;
}

.diagram-title-individual-title::-webkit-scrollbar {
  display: none;
}
/* .popup-wrapper {
  margin: 0;
}

.builder--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number--dropdown {
  display: flex;
  align-items: center;
}

.number--dropdown > label {
  margin: 0;
}

.number--dropdown > select {
  height: 5vh;
  min-height: 30px;
  width: 4vw;
  min-width: 50px;
  text-align: center;
  font-size: 1rem;
  padding-left: 0.5vw;
  margin-left: 1vw;
}

.input--name {
  font-size: 20px;
  margin: 0;
  margin-top: 10px;
} */

@media (max-width: 767px) {
  /* Diagram.jsx component */
  .diagram-builder-textarea-title {
    height: 35px;
    width: 40vw;
    min-width: 125px;
    max-width: 375px;
  }

  .diagram-builder-textarea-body {
    height: 150px;
    width: 70vw;
    min-width: 350px;
    max-width: 525px;
  }

  .diagram-submit-button {
    min-height: 60px;
    max-height: 180px;
    min-width: 300px;
    height: 7.5vh;
  }

  /* Grid.jsx, TitleGrid.jsx components */
  .diagram-grid-container {
    grid-template-columns: 50px 310px 50px;
    grid-template-rows: 150px 150px 150px;
  }

  .diagram-grid-lr-arrow-top,
  .diagram-grid-rl-arrow-top,
  .diagram-grid-lr-arrow-bottom,
  .diagram-grid-rl-arrow-bottom {
    width: 14px;
    height: 100px;
  }

  .diagram-title-grid {
    grid-template-columns: 330px;
    margin-top: -640px;
  }
  /* RowOne.jsx, RowTwo.jsx, RowThree.jsx components */
  .diagram-arrow-line {
    width: 50px;
  }
  /* Popover.jsx component */
  .diagram-popup-button {
    height: 50px;
    width: 50px;
  }

  .diagram-title-row,
  .diagram-title-row-reverse {
    display: flex;
    justify-content: space-between;
  }
  /* Titles.jsx component */
  .diagram-title-individual-title {
    width: 65px;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
  }
}