.carousel-textbox {
  position: absolute;
  width: 40%;
  padding: 1rem;
  background-color: var(--gl-light-gray);
  height: auto;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transform: translate(-500px, 0);
  transition: 1s ease-in-out;
  border-radius: 17.5px;
  bottom: 0px;
  margin-left: 50px;
}
.active-carousel-textbox {
  overflow: hidden;
  pointer-events: none;
  transform: translate(-500px, 0);
  transition: 1 ease-in-out;
  opacity: 1;
  transform: scale(1);
  pointer-events: visible;
}
.card-text {
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 1rem;
}
.card-subtitle {
  font-size: 1rem;
}
.card-link {
  align-items: flex-end;
  color: var(--gl-orange);
  text-decoration-line: none;
}
.card-link:hover {
  align-items: flex-end;
  color: var(--gl-dark-orange);
  text-decoration-line: none;
  cursor: pointer;
}
@media screen and (max-width: 1100px) {
  .card-subtitle-list {
    margin:0;
  }
  .card-title {
    font-size: 1rem;
  }
  .card-subtitle {
    font-size: 0.75rem;
  }
  .card-link {
    font-size: 0.75rem;
  }
  .card-text {
    padding: 0.5rem;
  }
}

@media screen and (max-width: 450px) {
  .carousel-textbox {
    left: -12vw;
    height: 100%;
    width: 60%;
  }
}
