:root {
  --gl-light-orange: #ee9f41;
  --gl-orange: #f37037;
  --gl-dark-orange: #d45e2b;
  --gl-light-gray: #e6e7e8;
  --gl-gray: #bcbec0;
  --gl-medium-gray: #6d6e71;
  --gl-dark-gray: #414042;
  --gl-error: #ac2c2c;
  --gl-dark-error: #8f2424;
  --gl-lime: #8ec549;
  --gl-dark-lime: #77a63d;
  --gl-canary: #f4d034;
  --gl-teal: #53bdbe;
}

* {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

.behaviour-body-carousel-wrapper {
  width: 1100px;
  margin: auto;
  margin-top: 100px;
  padding: 1rem;
  background-color: var(--gl-light-gray);
  border-radius: 17.5px;
}

.behaviour-carousel-inner-wrapper {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
}

.behaviour-body-carousel-page-title {
  color: var(--gl-orange);
  margin-bottom: 15px;
  margin-left: 7px;
}

.behaviour-image {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  width: 630px;
  height: auto;
  border-radius: 5px;
  box-shadow: 2px 2px 4px var(--gl-orange);
  transition: 0.5s;
}

.behaviour-image:hover {
  cursor: pointer;
  box-shadow: 2px 2px 4px var(--gl-dark-orange);
  transition: 0.5s;
}

.behaviour-carousel-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.behaviour-title {
  color: var(--gl-dark-orange);
  width: 350px;
  margin-left: 670px;
  margin-top: 30px;
}

.behaviour-description {
  white-space: pre;
  width: 328px;
  height: auto;
  padding: 0 5px 0 5px;
  border-radius: 5%;
  background: var(--gl-light-gray);
  margin-left: 670px;
  margin-top: -370px;
}

.behaviour-carousel-arrows {
  display: flex;
  justify-content: center;
  align-items: center;
}

.behaviour-carousel-arrow-left,
.behaviour-carousel-arrow-right {
  transition: 0.1s;
  color: var(--gl-dark-orange);
}

.behaviour-carousel-arrow-left:hover,
.behaviour-carousel-arrow-right:hover {
  color: var(--gl-orange);
  transition: 0.4s;
  cursor: pointer;
  border-right: 0;
  border-top: 0;
}

@media (max-width: 1220px) {
  .behaviour-body-carousel-page-title {
    font-size: 45px;
    margin-left: 0;
  }

  .behaviour-body-carousel-wrapper {
    width: 75%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .behaviour-image {
    width: 100%;
    height: 300px;
    min-width: 300px;
    max-width: 600px;
  }

  .behaviour-image:hover {
    cursor: default;
    box-shadow: 2px 2px 4px var(--gl-orange);
  }

  .behaviour-carousel-arrows {
    margin-top: 0;
    margin-left: 50px;
    width: 50%;
    position: absolute;
    display: flex;
    justify-content: space-between;
  }

  .behaviour-title {
    text-align: center;
    margin-left: 0;
    margin-top: -310px;
  }

  .behaviour-description {
    width: 70%;
    min-width: 300px;
    max-width: 450px;
    margin-left: 0;
    margin-top: 100px;
  }

  .behaviour-body-carousel-page-title {
    font-size: 38px;
    text-align: center;
  }

  .behaviour-image:hover {
    box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.85);
  }
}
