.b-carousel {
  display: flex;
  height: 90%;
  width: 100%;
  position: absolute;
}
.b-carousel-background {
  height: 90%;
  width: 100%;
  top: auto;
  right: 0rem;
  position: absolute;
}
.b-carousel-background:hover {
  display: flex;
  height: 90%;
  width: 100%;
  position: absolute;
}
.b-carousel_wrapper {
  position: auto;
  width: auto;
  height: auto;
}
.b-carousel_card {
  display: flex;
  flex: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  bottom: 10%;
  opacity: 0;
  pointer-events: none;
  transform: translate(-350px, 0);
  transition: 0.5s ease-in-out;
}
.b-carousel_card:hover {
  display: flex;
  flex: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.b-carousel_card_textbox {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
  top: 40%;
  opacity: 0;
  left: 30%;
  pointer-events: none;
  transform: translate(-350px, 0);
  transition: 0.6s ease-in-out;
}
.b-carousel_card-active {
  opacity: 1;
  transform: scale(1);
  pointer-events: visible;
}
.b-card_image {
  width: 100%;
  height: 100%;
  position: auto;
  object-fit: cover;
}
.b-card_image:hover {
  transform: scale(2);
  position: fixed;
  transform: translate(-50%, 0);
  opacity: 0;
}
.b-card_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  padding: 40px 30px;
  align-items: flex-end;
}
.b-card_overlay:hover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  padding: 40px 30px;
  align-items: flex-end;
  transition: 0.6s ease-in-out;
}
.b-card_title {
  color: rgb(243, 122, 055);
  font-size: 30px;
  position: absolute;
  top: 0px;
  left: 22px;
}

.b-card_title2 {
  font-size: 1rem;
}

.b-card_text {
  color: rgba(255, 255, 255, 2);
  background-color: rgba(109, 110, 113, 0.95);
  position: auto;
  top: 5rem;
  left: 10px;
  width: 500px;
  height: 150px;
  padding: 50px 25px;
}
.b-carousel_pagination {
  position: fixed;
  bottom: 5px;
  right: 1%;
  transform: translate(-50%, 0);
}
.b-pagination_dot {
  height: 1rem;
  width: 1rem;
  background-color: rgb(109, 110, 113);
  border-radius: 50%;
  display: inline-block;
  margin-left: 12px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.b-pagination_dot:hover {
  transform: scale(1.2);
  background-color: rgb(243, 122, 055);
}
.b-pagination_dot-active {
  background-color: rgb(243, 122, 055);
  border-radius: 40%;
}

.b-page {
  padding-top: 150px !important;
  padding-bottom: 30px !important;
  min-height: 100vh;
  z-index: -1 !important;
}
.b-page-section2 {
  position: auto;
  min-height: 100vh;
  z-index: 0;
}

@media screen and (max-width: 992px) {
  .b-carousel_wrapper_second {
    background-color: rgba(188, 190, 192, 0);
    position: absolute;
    width: 70%;
    max-width: 80%;
    height: 10%;
    max-height: 10%;
    top: 60%;
    left: 01%;
    transition: 0.4s ease-in-out;
  }
  .b-carousel_pagination {
    position: absolute;
    transition: 0.4s ease-in-out;
  }
}

@media screen and (min-width: 992px) {
  .b-carousel_wrapper_second {
    position: absolute;
    display: flex;
    height: 90%;
    width: 50%;
    left: 0rem;
    top: 35%;
    transition: 0.4s ease-in-out;
  }

  .b-pagination_dot {
    height: 1rem;
    width: 1rem;
    background-color: rgb(243, 122, 055);
    border-radius: 50%;
    display: inline-block;
    margin-left: 12px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }

  .b-pagination_dot:hover {
    transform: scale(1.2);
    background-color: rgb(109, 110, 113);
  }
  .b-pagination_dot-active {
    background-color: rgb(109, 110, 113);
    border-radius: 40%;
  }
}













/* .b-carousel {
    display: flex;
    height: auto;
    width: 100%;
}
.b-carousel-background {
    height: auto;
    width: 100%;
    top:auto;
    margin-top: 7.5%;
    margin-bottom: 2.5%;
}
.b-carousel-background:hover {
    height: auto;
    width: 100%;

}
.b-carousel_wrapper {
    width: 100%;
    height: auto;
}
.b-carousel_card {
    display: none;
    flex: 1;
    overflow: hidden;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    opacity: 0 !important;
    pointer-events: none;
    transform: translate(-350px, 0);
    transition: 0.5s ease-in-out;
}
.b-carousel_card:hover {
    display: flex;
    flex: 1;
    width: 100%;
    height: auto;
    overflow: hidden;
}
@media screen and (max-width: 992px) {
    .b-carousel_wrapper_second {
      background-color: rgba(188, 190, 192, 0);
      width: 70%;
      max-width: 80%;
      height: 10%;
      max-height: 10%;
      left: 01%;
      transition: 0.4s ease-in-out;
    }
    .b-carousel_pagination {
      left: 65%;
      transition: 0.4s ease-in-out;
    }
  }
@media screen and (min-width: 992px) {
    .b-carousel_wrapper_second {
      background-color: rgba(188, 190, 192, 0);
      display: flex;
      height: 90%;
      width: 50%;
      left: 0rem;
      transition: 0.4s ease-in-out;
    }
}
.b-carousel_card_textbox {
    width: auto;
    height: auto;
    overflow: hidden;
    opacity: 0;
    left: auto;
    pointer-events: none;
    transform: translate(-350px, 0);
    transition: 0.6s ease-in-out;
}
.b-carousel_card-active {
    display: flex;
    opacity: 1 !important;
    transform: scale(1);
    pointer-events: visible;
    width: 100%;
    height: fit-content;
}
.b-card_image {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.b-card_image:hover {
    opacity: 1;
    filter:brightness(1);
}
.b-card_overlay {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    padding: 40px 30px;
    align-items: flex-end;
}
.b-card_overlay:hover {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    padding: 40px 30px;
    align-items: flex-end;
    transition: 0.6s ease-in-out;
}
.b-card_title {
    color: rgba(251, 178, 61, 0.935);
    font-size: 60px;
    top: 10px;
    left: 2px;
}
.b-card_title2 {
    color: rgba(251, 178, 61, 0.935);
    font-size: 2rem;
}
.b-card_text {
    color: rgba(255, 255, 255, 2);
    background-color: rgba(109, 110, 113, 0.6);
    top: 5rem;
    left: 10px;
    width: auto;
    height: auto;
    padding: 30px 25px;
}
.b-carousel_pagination {
    position: fixed;
    bottom: 5px;
    right: 1%;
    transform: translate(-50%, 0);
}
.b-pagination_dot {
    height: 15px;
    width: 15px;
    background-color: rgba(200, 200, 200, 0.8);
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}
.b-pagination_dot:hover {
    transform: scale(1.2);
    background-color: rgb(241, 158, 5);
}
.b-pagination_dot-active {
    background-color: rgb(190, 124, 1);
    -moz-box-shadow: 2.5px 2.5px 5px 0px rgba(0, 0, 0, 0.9);
    box-shadow: 2.5px 2.5px 5px 0px rgba(0, 0, 0, 0.9);
    border-radius: 40%;
}
.b-link_text {
    align-items: flex-end;
    color: rgb(83, 189, 190);
    text-decoration-line: underline;
} */