.markdown--container {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
}

.markdown-name-select-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.markdown-name-select-label {
    font-size: 20px;
    margin-right: 5px;
}

.markdown-name-select {
    font-size: 17.5px;
    width: 150px;
    overflow: hidden;
    margin-right: 5px;
    background-color:#f37037;
    border: 1px solid #BCBEC0;
    color: #E6E7E8;
    border-radius: 5px;
}

.markdown-create-new-name-button {
    border-radius: 5px;
    border: 1px solid #BCBEC0;
    text-align: center;
    background-color: #f37037;
    color: #E6E7E8;
    box-shadow: 2px 2px 4px rgba(170, 170, 170, 0.497569);
}

.markdown-new-name-container {
    justify-content: center;
    align-items: center;
}

.markdown-new-name-textbox {
    width: 250px;
    height: 32px;
    font-size: 17.5px;
    margin-right: 5px;
    border-radius: 5px;
}

.markdown-confirm-new-name-button {
    border-radius: 5px;
    border: 1px solid #BCBEC0;
    text-align: center;
    background-color: #f37037;
    color: #E6E7E8;
    box-shadow: 2px 2px 4px rgba(170, 170, 170, 0.497569);
    height: 32px;
}

.markdown--textbox {
    width: 70%;
    height: 30vh;
    font-size: 2rem;
    margin: auto;
    border-radius: 5px;
    margin-top: 10px;
}

.markdown--preview--title {
    margin: auto;
    font-size: 40px;
    margin-top: 5vh;
}

.markdown--preview {
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 80%;
    border-radius: 5px;
}

.react--markdown {
    font-size: 1.5rem;
}

.optional--display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit--button {
    border-radius: 5px;
    border: 1px solid #BCBEC0;
    text-align: center;
    background-color: #f37037;
    color: #E6E7E8;
    box-shadow: 2px 2px 4px rgba(170, 170, 170, 0.497569);
    width: 250px;
    height: 50px;
    font-size: 25px;
}

@media (max-width: 767px) {
    .markdown--textbox {
        width: 95%;
        height: 30vh;
        font-size: 2rem;
        margin: auto;
        border-radius: 5px;
    }
}