/* ContactsCarouselCard.jsx */
.contacts-carousel-card-border {
  background-color: var(--gl-light-gray);
  padding: 1rem;
  width: 285px;
  margin: auto;
  border-radius: 17.5px;
}

.contacts-carousel-card-container {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-carousel-card-image-container {
  width: 85%;
  background-color: var(--gl-light-gray);
  margin-top: 30px;
  padding: 0.5rem;
  border-radius: 100%;
}

.contacts-carousel-card-image {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 100%;
}

.contacts-carousel-card-information-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-carousel-card-name,
.contacts-carousel-card-title {
  font-size: 20px;
  display: flex;
  justify-content: center;
  width: 90%;
  margin-top: 10px;
}

.contacts-carousel-card-description {
  width: 92%;
  height: 120px;
  margin-bottom: 30px;
  overflow: scroll;
  overflow-x: hidden;
}

/* ContactsMainCarousel.jsx */
.contacts-carousel {
  margin-top: 1.5rem;
}
.contacts-carousel-arrows {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.contacts-carousel-arrow-left,
.contacts-carousel-arrow-right {
  cursor: pointer;
  color: black;
  opacity: 50%;
  transition: 0.2s;
}

.contacts-carousel-arrow-left:hover,
.contacts-carousel-arrow-right:hover {
  opacity: 100%;
  transition: 0.4s;
}

.contacts-carousel-arrow-left {
  margin-right: 40px;
}

.contacts-carousel-arrow-right {
  margin-left: 40px;
}

/* Admin panel stuff */
.contacts-carousel-admin-panel {
  display: flex;
  flex-direction: column;
}

.contacts-carousel-admin-dropdown {
  display: flex;
  justify-content: center;
}

.contacts-carousel-admin-buttons {
  display: flex;
  justify-content: center;
}

.contacts-carousel-admin-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-carousel-admin-inputs textarea {
  width: 50%;
}

@media (max-width: 325px) {
  .contacts-carousel-card-border {
    padding: 1rem;
    width: 270px;
    margin: auto;
    border-radius: 17.5px;
  }
}
