.pc--container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pc--container > button {
  margin-bottom: 2vh;
  margin-left: 1vw;
  margin-right: 1vw;
  width: 40%;
  padding: 2vh 0 2vh 0;
  font-size: 1.5rem;
  border-radius: 5px;
  border: 1px solid #BCBEC0;
  text-align: center;
  background-color: #f37037;
  color: #E6E7E8;
  box-shadow: 2px 2px 4px rgba(170, 170, 170, 0.497569);
}

.pc--container > button:hover {
    background-color: #D45E2B;
}

@media (max-width: 767px) {
    .pc--container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pc--container > button {
        margin-bottom: 2vh;
        margin-left: 1vw;
        margin-right: 1vw;
        width: 70%;
        min-width: 300px;
    }
}
