:root {
  --gl-light-orange: #ee9f41;
  --gl-orange: #f37037;
  --gl-dark-orange: #d45e2b;
  --gl-light-gray: #e6e7e8;
  --gl-gray: #bcbec0;
  --gl-medium-gray: #6d6e71;
  --gl-dark-gray: #414042;
  --gl-error: #ac2c2c;
  --gl-dark-error: #8f2424;
  --gl-lime: #8ec549;
  --gl-dark-lime: #77a63d;
  --gl-canary: #f4d034;
  --gl-teal: #53bdbe;
}

* {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
}

.behaviour-body-carousel-wrapper {
  width: 1200px;
  margin: auto;
  margin-top: 20vh;
}

.behaviour-body-carousel-page-title {
  color: var(--gl-orange);
  font-weight: 500;
  margin-bottom: 15px;
  margin-left: 100px;
}

.behaviour-carousel-container {
  display: flex;
  justify-content: space-between;
}

.behaviour-image-slide,
.behaviour-title-slide,
.behaviour-description-slide {
  opacity: 0;
  transition-duration: 1s ease;
  transform: scale(0.95);
}

.behaviour-image-slide.behaviour-image-active,
.behaviour-title-slide.behaviour-title-active,
.behaviour-description-slide.behaviour-description-active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1);
}

.behaviour-image {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  width: 550px;
  height: auto;
  border-radius: 5px;
  box-shadow: 2px 2px 4px var(--gl-orange);
  transition: 0.5s;
}

.behaviour-image:hover {
  cursor: pointer;
  box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.85);
  transition: 0.5s;
}

.behaviour-carousel-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.behaviour-title {
  color: var(--gl-dark-orange);
  width: 350px;
  height: 38px;
  margin-left: 650px;
  margin-top: -310px;
}

.behaviour-description {
  width: 328px;
  height: 269px;
  padding: 0 5px 0 5px;
  border-radius: 5%;
  background: var(--gl-gray);
  margin-left: 650px;
  margin-top: -310px;
}

.behaviour-carousel-arrows {
  display: flex;
  margin-top: 320px;
  justify-content: center;
  align-items: center;
}

.behaviour-carousel-arrow-left,
.behaviour-carousel-arrow-right {
  transition: 0.1s;
  color: var(--gl-dark-orange);
}

.behaviour-carousel-arrow-left:hover,
.behaviour-carousel-arrow-right:hover {
  color: var(--gl-orange);
  transition: 0.4s;
  cursor: pointer;
  border-right: 0;
  border-top: 0;
}

@media (max-width: 1220px) {
  .behaviour-body-carousel-page-title {
    font-size: 45px;
    margin-left: 0;
  }

  .behaviour-body-carousel-wrapper {
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .behaviour-carousel-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    margin-top: 15px;
  }

  .behaviour-image {
    width: 100%;
    height: 300px;
    min-width: 300px;
    max-width: 600px;
  }

  .behaviour-image:hover {
    cursor: default;
    box-shadow: 2px 2px 4px var(--gl-orange);
  }

  .behaviour-image-slide,
  .behaviour-image-active {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }

  .behaviour-carousel-content {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .behaviour-carousel-arrows {
    margin-top: 113px;
    width: 70%;
    position: absolute;
    transform: translate(0, 315px);
    display: flex;
    justify-content: space-between;
  }

  .behaviour-title-slide,
  .behaviour-title-active {
    width: 100%;
    min-width: 300px;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .behaviour-title {
    text-align: center;
    margin-left: 0;
    margin-top: -310px;
  }

  .behaviour-description {
    width: 100%;
    min-width: 300px;
    max-width: 550px;
    margin-left: 0;
    margin-top: 100px;
  }

  .behaviour-body-carousel-page-title {
    font-size: 38px;
    text-align: center;
  }

  .behaviour-image:hover {
    box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.85);
  }
}
