.carousel {
  display: flex;
  height: 100%;
  width: 100%;
  position: auto;
}
.carousel-background {
  height: 80%;
  width: 100%;
  top: auto;
  right: 0rem;
  position: absolute;
}
.carousel-background:hover {
  display: flex;
  height: 80%;
  width: 100%;
  position: absolute;
}
.carousel_wrapper {
  position: auto;
  width: auto;
  height: auto;
}
.carousel_card {
  display: flex;
  flex: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  bottom: 10%;
  opacity: 0;
  pointer-events: none;
  transform: translate(-350px, 0);
  transition: 0.5s ease-in-out;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.carousel_card:hover {
  display: flex;
  flex: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel_card_textbox {
  position: absolute;

  overflow: hidden;
  top:60%;
  opacity: 0;
  left: 0%;
  pointer-events: none;
  transform: translate(-350px, 0);
  transition: 0.6s ease-in-out;
}
.carousel_card-active {
  opacity: 1;
  transform: scale(1);
  pointer-events: visible;
}
.card_image {
  width: 100%;
  height: 100%;
  position: auto;
  object-fit: cover;
 
}
.card_image:hover {
  transform: scale(2);
  position: fixed;
  transform: translate(-50%, 0);
  opacity: 0;
}
.card_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  padding: 40px 30px;
  align-items: flex-end;
}
.card_overlay:hover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  padding: 40px 30px;
  align-items: flex-end;
  transition: 0.6s ease-in-out;
}
.card_title {
  color: rgb(243, 122, 055);
  font-size: 30px;
  position: absolute;
  top: 0px;
  left: 22px;
}

.card_title2 {
  font-size: 1rem;
}


.carousel_pagination {
  position: fixed;
  bottom: 5px;
  right: 1%;
  transform: translate(-50%, 0);
}
.pagination_dot {
  height: 15px;
  width: 15px;
  background-color: rgba(200, 200, 200, 0.8);
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.pagination_dot:hover {
  transform: scale(1.2);
  background-color: rgb(241, 158, 5);
}
.pagination_dot-active {
  background-color: rgb(190, 124, 1);
  -moz-box-shadow: 2.5px 2.5px 5px 0px rgba(0, 0, 0, 0.9);
  box-shadow: 2.5px 2.5px 5px 0px rgba(0, 0, 0, 0.9);
  border-radius: 40%;
}

.link_text {
  align-items: flex-end;
  color: rgb(83, 189, 190);
  text-decoration-line: underline;
}

.page {
  padding-top: 175px !important;
  padding-bottom: 10px !important;
  min-height: 110vh;
  z-index: -1 !important;
}
.page-section2 {
  position: auto;
  min-height: 100vh;
  z-index: 0;
}

.carousel_card_textbox2 {
  display: flex;
  flex: 1;
  position: absolute;
  width: 30%;
  background-color: rgba(109, 110, 113, 0.75);
  height: auto;
  overflow: hidden;
  bottom: 015%;
  opacity: 0;

  pointer-events: none;
  transform: translate(-350px, 0);
  transition: 0.5s ease-in-out;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
 
  

}

.carousel_card_textbox-active {
  opacity: 1;
  transform: scale(1);
  pointer-events: visible;
}



@media screen and (max-width: 992px) {
  /* .carousel_wrapper_second {
    background-color: rgba(188, 190, 192, 0);
    
    width: 70%;
    max-width: 80%;
    height: 10%;
    max-height: 10%;
    top: 60%;
    left: 01%;
    transition: 0.4s ease-in-out;
  } */
  .card_text {
    color: rgba(255, 255, 255, 2);
  
    max-height: 35%;
    padding: 20px 12px;
  
  }
  .carousel_pagination {
    position: absolute;
    transition: 0.4s ease-in-out;
  }
  .carousel_card_textbox2 {
   
    width: 70%;
    max-height: 20%;
    
    top: 37rem;
    left: 0%;
 
  }

  .page {

    min-height: 95vh;
    z-index: -1 !important;
    padding-top: 187px !important;
  }


}

@media screen and (min-width: 992px) {


  .card_text {
    color: rgba(255, 255, 255, 2);
    
    position: auto;
  
    left: 2rem;
    width: auto;
    height: auto;
    max-height: 45%;
    max-width: fit-content;
    padding: 20px 12px;
  }


}

