.markdown-basic-component {
    width: 80%;
    margin: 5px;
    padding: 2px;
    text-align: center;
}

/* .markdown-strikethrough-test {
    background-color: aquamarine;
}

.markdown-newline-test {
    background-color: tomato;
} */