body {
   margin-left: 0;
}

/* @media only screen and (max-width: 320px) {

   body { 
      font-size: 2em; 
   }

} */

.footer {
    position: absolute;
    bottom: 0;
    width: 100% !important;
    height: fit-content;
    background: rgb(188,190,192);
    background: -moz-linear-gradient(180deg, rgba(188,190,192,1) 35%, rgba(109,110,113,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(188,190,192,1) 35%, rgba(109,110,113,1) 100%);
    background: linear-gradient(180deg, rgba(188,190,192,1) 35%, rgba(109,110,113,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bcbec0",endColorstr="#6d6e71",GradientType=1);
    

    /* For Spacing Purposes Only - Removed when complete */
    border: 1px;
    border-style: dotted;
    border-color: blue;
 }

 .footer-divider {
   width: 95%;
   border: 1px solid rgb(209, 209, 209);
   border-radius: 5px;
 }

.top-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:calc(1vw + 1vh);
    margin: 1%;
    font-size: 2.5vmin;
    margin-bottom: 1%;
    margin-top: 1%;

    /* For Spacing Purposes Only - Removed when complete */
    border: 1px;
    border-style: dotted;
    border-color: rgb(249, 0, 220);
 }

 .footer-logo {
    order: 1;
    flex-grow: 1;
    min-width: 10%;
    max-width: 15%;
    height: auto;

    /* For Spacing Purposes Only - Removed when complete */
    border: 1px;
    border-style: dotted;
    border-color: chartreuse;
 }

 .gl-logo {
   width: 20%;
   height: auto;
 }


 /* unvisited link */
.footer-link:link {
   color: rgb(230, 231, 232);
   text-decoration: none;
 }
 
 /* visited link */
 .footer-link:visited {
   color: rgb(230,231,232);
   text-decoration: none;
 }
 
 /* mouse over link */
 .footer-link:hover {
   color: rgb(243, 122, 055);
   text-decoration: underline;
 }
 
 /* selected link */
 /* .footer-link:active {
   color: blue;
 } */

 .footer-pages {
    order: 2;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-grow: 2;
    min-width: 40%;
    max-width: 45%;
    height: auto;

    /* For Spacing Purposes Only - Removed when complete */
    border: 1px;
    border-style: dotted;
    border-color: chartreuse;
 }

 .internal-pages {
    padding:3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0.25rem;

    /* For Spacing Purposes Only - Removed when complete */
    border: 1px;
    border-style: dotted;
    border-color: rgb(255, 179, 0);
 }

 .footer-link {
    border: 1px;
    border-style: dotted;
    border-color: rgb(30, 0, 253);
    min-width: 10%;
    height: auto;
    font-size: 2.5vmin;
 }

.admin-panel {
    order: 3;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: auto;


    /* For Spacing Purposes Only - Removed when complete */
    border: 1px;
    border-style: dotted;
    border-color: chartreuse;
}

.admin-link {
   height: fit-content;
   width: fit-content;
   font-size: 1em;

   border: 1px;
   border-style: dotted;
   border-color: rgb(8, 16, 171);
}

 /* unvisited link */
 .admin-link:link {
   color: rgb(230, 231, 232);
   text-decoration: none;
 }
 
 /* visited link */
 .admin-link:visited {
   color: rgb(230,231,232);
   text-decoration: none;
 }
 
 /* mouse over link */
 .admin-link:hover {
   color: rgb(243, 122, 055);
   text-decoration: underline;
 }

.bottom-area {
    display: flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1%;
    /* font-size: 1rem; */

    /* For Spacing Purposes Only - Removed when complete */
    border: 1px;
    border-style: dotted;
    border-color: rgb(249, 0, 220);


 }
