body {
   margin-left: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100% !important;
    height: fit-content;
    background: rgba(109,110,113, 0.95);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    

    /* For Spacing Purposes Only - Removed when complete */

    /* border: 1px;
    border-style: dotted;
    border-color: blue; */
 }

 .footer-divider {
   width: 95%;
   border: 1px solid rgb(209, 209, 209);
   border-radius: 5px;
   margin-top: 2%;
 }

.top-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* gap:calc(1vw + 1vh); */
    margin: 1%;
    font-size: 2vmin;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 1%;
    margin-top: 1%;

    /* For Spacing Purposes Only - Removed when complete */

    /* border: 1px;
    border-style: dotted;
    border-color: rgb(249, 0, 220); */
 }

 .footer-logo {
    order: 1;
    flex-grow: 1;
    min-width: 10%;
    max-width: 20%;
    height: auto;

    padding-top: 1%;

    /* For Spacing Purposes Only - Removed when complete */

    /* border: 1px;
    border-style: dotted;
    border-color: chartreuse; */
 }

 .gl-logo {
   display: block;
   max-width:calc(230px*0.75);
   max-height:calc(95px*0.75);
   width: auto;
   height: auto;
 }

 /* unvisited link */
.footer-link:link {
   color: rgb(230, 231, 232);
   text-shadow: #121212 1px 0 1px;
   text-decoration: none;
 }
 
 /* visited link */
 .footer-link:visited {
   color: #e6e7e8;
   text-decoration: none;
 }
 
 /* mouse over link */
 .footer-link:hover {
   text-shadow: #f37a37 1px 0 5px;
   transition: .3s;
 }
 
 /* selected link */
 /* .footer-link:active {
   color: blue;
 } */

 .footer-pages {
    order: 2;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-grow: 2;
    min-width: 25%;
    max-width: 50%;
    height: auto;

    /* For Spacing Purposes Only - Removed when complete */

    /* border: 1px;
    border-style: dotted;
    border-color: chartreuse; */
 }

 .internal-pages {
    padding:3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0.7rem;

    /* For Spacing Purposes Only - Removed when complete */

    /* border: 1px;
    border-style: dotted;
    border-color: rgb(255, 179, 0); */
 }

 .footer-link {

    min-width: 10%;
    height: auto;
    font-size: 2vmin;
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;

    /* For Spacing Purposes Only - Removed when complete */

    /* border: 1px;
    border-style: dotted;
    border-color: rgb(30, 0, 253); */
 }

.admin-panel {
    order: 3;
    height: auto;
    display: flex;
    justify-content: flex-end;
    padding-right: 1%;
    align-items: center;
    width: 20%;
    height: auto;


    /* For Spacing Purposes Only - Removed when complete */

    /* border: 1px;
    border-style: dotted;
    border-color: chartreuse; */
}

.admin-link {
   height: fit-content;
   width: fit-content;
   font-size: 2vmin;

   /* For Spacing Purposes Only - Removed when complete */

   /* border: 1px;
   border-style: dotted;
   border-color: rgb(8, 16, 171); */
}

 /* unvisited link */
 .admin-link:link {
   color: rgb(230, 231, 232);
   text-shadow: #121212 1px 0 1px;
   text-decoration: none;
 }
 
 /* visited link */
 .admin-link:visited {
   color: rgb(230,231,232);
   text-decoration: none;
 }
 
 /* mouse over link */
 .admin-link:hover {
   text-shadow: #f37a37 1px 0 10px;
   transition: .3s;
 }

.bottom-area {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1%;
    padding-top: 1%;
    margin-bottom: 0;
    /* font-size: 1rem; */

    /* For Spacing Purposes Only - Removed when complete */
    /* border: 1px;
    border-style: dotted;
    border-color: rgb(249, 0, 220); */


 }

 .footer-trademark {
   color: rgb(230, 231, 232);
   text-shadow: #121212 1px 0 1px;
   text-decoration: none;
   font-size: 2vmin;
   font-family: 'DM Sans', sans-serif;
    font-weight: 400;
 }

.footer-social {
   width: 100%;
}

 .social-icons {
   width: 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   gap: 10px;

   /* For Spacing Purposes Only - Removed when complete */

    /* border: 1px;
    border-style: dotted;
    border-color: rgb(255, 179, 0); */
}

.social-icon {
   border-radius: 50%;
   background-color: #e6e7e8;
   min-width: 8px;
   min-height: 8px;
   width: 30px;
   height: 30px;
   display:flex;
   justify-content: center;
   align-items: center;
   -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
   filter: grayscale(100%);
}

.last-item {
   width: 100%;
   display: flex;
   z-index: 1;
   justify-content: flex-end;
   align-items: flex-end;
}