:root {
  --gl-light-orange: #ee9f41;
  --gl-orange: #f37037;
  --gl-dark-orange: #d45e2b;
  --gl-light-gray: #e6e7e8;
  --gl-gray: #bcbec0;
  --gl-medium-gray: #6d6e71;
  --gl-dark-gray: #414042;
  --gl-error: #ac2c2c;
  --gl-dark-error: #8f2424;
  --gl-lime: #8ec549;
  --gl-dark-lime: #77a63d;
  --gl-canary: #f4d034;
  --gl-teal: #53bdbe;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}
