body {
  background-color: rgb(188, 190, 192) !important;
}

button:focus {
  box-shadow: none !important;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-track:hover {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: rgb(243, 122, 055);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(243, 122, 055);
  border-radius: 12px;
}

.navbar-sticky {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: rgb(109, 110, 113) !important;
  transition: all 0.3s ease-out 0s !important;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
}

.navbar {
  position: fixed !important;
  transition: all 0.3s ease-out 0s !important;
  padding: 0.3rem 2rem !important;
  font-size: 1.05rem !important;
}

.navbar-toggler {
  position: relative !important;
  background-color: transparent !important;
  border-color: transparent !important;
}

.navbar-toggler span {
  display: block !important;
  background-color: rgb(243, 122, 055) !important;
  height: 4px !important;
  width: 27px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  transform: rotate(0deg) !important;
  left: 0 !important;
  opacity: 1 !important;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0 !important;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: transform 0.35s ease-in-out !important;
  transition: transform 0.35s ease-in-out !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(135deg) !important;
  opacity: 0.9 !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px !important;
  visibility: hidden !important;
  background-color: transparent !important;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute !important;
  left: 12px !important;
  top: 10px !important;
  transform: rotate(-135deg) !important;
  opacity: 0.9 !important;
}

@media (max-width: 767px) {
  .navbar {
    padding: 1rem 2rem !important;
    font-size: 1.4rem !important;
    background-color: rgb(109, 110, 113, 0.95);
  }
  .navbar-nav .nav-item a::after {
    display: none !important;
  }
}

.logo-menu {
  height: 2.5em !important;
  width: auto !important;
}

.navbar-nav .nav-link {
  color: white !important;
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

.nav-link {
  padding: 0.8rem 1rem !important;
}

@media (max-width: 767px) {
  .nav-link {
    text-align: right;
    background-color: transparent !important;
    padding: 0.7rem 1rem !important;
  }

  .nav-link:hover {
    padding: 10px;
    color: rgb(243, 122, 055) !important;
  }
}

@media (max-width: 321px) {
  .navbar {
    padding: 16px !important;
  }
}

.navbar-nav .nav-item {
  position: relative;
  margin-left: 0px;
}

.navbar-nav .nav-item a {
  font-weight: 400;
  transition: all 0.3s ease-out 0s;
  position: relative;
  z-index: 1;
}

.navbar-nav .nav-item a::after {
  content: '';
  position: relative;
  display: block;
  height: 5px;
  width: 0;
  border-radius: 16px;
  background: rgb(188, 190, 192);
  bottom: 1px;
  left: 0;
  z-index: -1;
  transition: all 0.3s ease-out 0s;
}

.navbar-nav .nav-item a:hover::after {
  width: 100%;
  background-color: rgb(243, 122, 055);
}

.page-section {
  position: relative !important;
  padding-top: 150px !important;
  padding-bottom: 30px !important;
  color: white !important;
}